/*------------------ Botão +Nova depesa --------------------------------*/
.nova-despesa-btn {
  background-color: #ff009d;
  color: white;
  padding: 10px 16px;
  font-size: 0.9rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
}

.nova-despesa-btn:hover {
  background-color: white;
  color: #ff009d;
  border: 2px solid #ff009d;
}

/*------------------ fundo escuro --------------------------------*/
.modal-fundo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.844); 
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-conteudo {
  padding: 10px;
  border-radius: 10px;
  max-width: 300px;
  width: 100%;;
}

/*------------------ Cabeçalho --------------------------------*/
.cabecalho{
  text-align: center;
  margin-bottom: 50px;
}

.cabecalho h1{
  font-size: 2.4rem;
  margin-bottom: 30px;
  color: rgb(255, 75, 153);
}

/*------------------ gráfico conteúdo --------------------------------*/
.grafico {
  max-height: 400px;
  max-width: 280px;
  flex: 1;
  background-color: #fff;
  padding: 16px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

/*------------------ botão mostrar gráfico --------------------------------*/
.grafico-btn {
  background-color: #ff009d;
  color: white;
  padding: 10px 16px;
  font-size: 0.9rem;
  border: none;
  border-radius: 100px;
  cursor: pointer;
  margin-left: 10px;
}

.grafico-btn:hover {
  background-color: white;
  color: #ff009d;
  border: 2px solid #ff009d;
}

/*------------------ imagem --------------------------------*/
.imagem-cofre{
  width: 200px;
  height: auto;
  margin-top: 10px;
  border-radius: 400px;
}

/*------------------ caixa resumo do mês --------------------------------*/
.resumo-box{
  background-color: #ffffff;
  border: 2px solid #ff3ca7;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: left;
  color: #333;
  font-size: 1rem;
}

.resumo-box p{
  margin: 6px 0;
}

/*------------------ caixa resumo por categoria --------------------------------*/
.resumo-categorias {
  
  background-color: #ffffff;
  border: 2px solid #ff3ca7;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: center;
  color: #333;
  font-size: 1rem;
}

.categoria-box {
  margin-bottom: 10px;
}

.categoria-header {
  background-color: #ffffff;
  border: 2px solid #ff3ca7;
  border-radius: 10px;
  padding: 10px;
  margin: 15px;
  text-align: left;
  color: #333;
  font-size: 1rem;
  cursor: pointer;
}

.detalhes {
  list-style: none;
  margin-top: 5px;
  padding-left: 15px;
}
.detalhes li {
  margin-bottom: 4px;
  font-size: 1rem;
  color: black;
}

/*------------------ Caixa Mostrar Despesas --------------------------------*/
.modal-despesas {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 12px;
  width: 280px;
  max-width: 600px;
  max-height: 80vh;
  overflow-y: auto;
  text-align: center;
}

.btn-fechar {
  position: absolute;
  top: 15px;
  right: 25px;
  margin-top: 20px;
  background-color:transparent;
  color: white;
  padding: 10px 16px;
  font-size: 0.9rem;
  border: 2px solid rgb(255, 84, 155);
  border-radius: 100px;
  cursor: pointer;
}
.btn-fechar:hover{
  background-color: white;
  color: #ff009d;
  border: 2px solid #ff009d;
}

.btn-ver-despesas {
  margin-top: 15px;
  margin-bottom: 20px;
  padding: 20px 30px;
  font-size: 1.5rem;
  background-color: white;
  color: #ff009d;
  border: 3px solid #ff009d;
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
}
.btn-ver-despesas:hover{
  background-color: #ff009d;
  color: white;
}